<!DOCTYPE html>
<html>
<head>
  <title>Democratize! News, Politics, Discussion, Events</title>
  
 <%= stylesheet_link_tag    "mob/mob", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Democratize! is a site for user-generated local news, politics, and opinion sharing.">
  <meta property="og:image" content='http://i59.tinypic.com/2e4ew5d.jpg'/>
</head>
<body>
<div class="bodymob">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<div class="btn-group">
<button type="button" class="btn btn-default btn-lg navbar-btn navbar-left dropdown-toggle" data-toggle="dropdown">
    Menu <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><% if current_user.present? %>
                
                  <%= link_to current_user.username, current_user %>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>

                <% else %>
                
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                
                <% end %></li>
    <li class="divider"></li>
    <li><%= @parent.title %> Groups</li>
    <% @groups.each do |group| %>
    <li><%= link_to group.title, [@city, group] %></li>
    <% end %>
    <li><%= @parent.title %> News Sources</li>
    <% @resources.each do |resource| %>
    <li><%= link_to resource.title, "http://#{resource.url}", target: '_blank' %></li>
    <% end %>

  </ul>
</div>


    <p class="navbar-text"><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %></p>

      
  </div>    
  </nav>
  
  
  <center>
    <div id="navtitle">
    <%= link_to @parent.title, [@parent] %> Jobs
    </div>
  <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          Change Location
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><b><%= link_to "Oklahoma", "/states/2-oklahoma" %></a></b></li>
                          <li><%= link_to "Oklahoma City", "/cities/2-oklahomacity" %></a></li>
                          <li><%= link_to "Tulsa", "/cities/1-tulsa" %></a></li>
                        </ul>
                        </div>
  
</center>

   <div class="container">
     <div class="row">
            <div id="filtersmob">

              <div id="addlink">
                    <p>

                      <% if user_signed_in? %>
                      <%= job_to_for_parent(@parent) %>
                <% end %>

                    </p>
              </div>
            </div> 
        </div>
<div class="row">
  
   <% @jobs.each do |job| %>
  <div class="linksmob">

      <div class="linkbody">

        
    <%= job.title %>
                         
                          <%= link_to "+", '#', class: 'btn btn-xs btn-success reply-link', id: 'reply-link' %>
                          
                  <div class="reply-container", id='reply-container'>
                      <p><%= job.description %></p>

                    <p><b>Company:</b> <%= job.companyname %></p>

   <p><%= auto_link(job.companyurl).html_safe %></p>

                       </div>
                          
                        </div>


      </div>
  <% end %>

</div>

<%= will_paginate @jobs, renderer: BootstrapPagination::Rails %> 

</div>
</div>
</body>
</html>