<center>
  <p><%= @parent.title %></p>

   <p><%= @job.title %></p>

  <p><%= @job.description %></p>

  <p><%= @job.companyname %></p>

   <p><%= @job.companyurl %></p>

   <p><%= @job.username %></p>

   <p><%= @job.user_id %></p>
</center>