
<html>
<head>
  <title>Democratize! News, Politics, Discussion, Events</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Democratize! is a user generated hub for local news, politics, and opinion sharing.">
</head>
<body>
  <div class="bod">
    <div class="row">  
      <div class="col-xs-2">
        <div id="logo">
          <center><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %>
            <br><em><div id="tag">"a virtual town hall"</div></em></center>
        </div>
      </div>  
      <div class="col-xs-8">
        
        <div id="citytitle">
          <h1><%= @group.title %></h1>
        </div>  
      </div>  
       <div class="col-xs-2"> 
            
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <div id="sidebar">
              
              <div id="sideprof">
                <%# user is logged in, show log out link %>
                <br><% if current_user.present? %>
                
                <%= image_tag current_user.avatar.url(:main), :class => "img-rounded", :size => "100x100" %><br>
                  <%= current_user.username %><br>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
                  
                  <%# user is not logged in, show signup and login links %>
                <% else %>
                
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                
                <% end %>
                
               <%# if user_signed_in? %>

                <%# end %>
              </div>
                <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          Change Location
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><b><%= link_to "Oklahoma", "/states/2" %></a></b></li>
                          <li><%= link_to "Oklahoma City", "/cities/2-oklahomacity" %></a></li>
                          <li><%= link_to "Tulsa", "/cities/1-tulsa" %></a></li>
                        </ul>
                        </div>
              <div id="sidenav">
                
                  <br>
                <b>Back to <%= link_to @parent.title, [@parent] %></b>
              </div>
        </div>
      </div>

 <div class="col-xs-8">
        <div class="row">
            <div id="filters">
              <%= link_to "hot", [@parent, @group, sort_by: "hot"] %>
                |
                <%= link_to "new", [@parent, @group, sort_by: "new"] %>
              <div id="addlink">
                    <p>
                      <% if user_signed_in? %>
                      <%= link_to "Post", new_group_link_path(params[:id]), :class => "btn btn-xs btn-primary" %>
                      <% end %>
                    </p>
              </div>
            </div> 
        </div>
        <div class="row">
          <div class="row">
            <% @links.each do |link| %> 
            <ul>                     
            <div id="links">
                <li>
                  <div class="row">
                    <div class="col-xs-1">
                      <div class="votes">
                        <div id="votesup">
                          <% if current_user && current_user.votes.where(:votable_id => link.id, :up => true).present? %>
                          <div class="glyphup">
                          <span class="glyphicon glyphicon-chevron-up"></span>
                          </div>
                            <% else %>
                          <%= link_to link_votes_path(link, :vote => {:up => true}), :method => :link, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                          <% end %>
                          <% end %>
                        </div>
                        <div id="votesS">
                          <%= link.score %> 
                        </div>
                        <div id="votesdown">  
                            <% if current_user && current_user.votes.where(:votable_id => link.id, :up => false).present? %>
                                <div class="glyphdown">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>  
                            <% else %>
                          <%= link_to link_votes_path(link, :vote => {:up => false}), :method => :link, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          <% end %>
                          <% end %>
                        </div>  
                      </div>
                    </div>  
                    <div class="col-xs-10">
                      <div class="row">
                        <div class="linkbody">
                            <%= link.title %>
                         
                          <%= link_to "+read more", '#', class: 'btn btn-xs btn-success reply-link', id: 'reply-link' %>
                          
                  <div class="reply-container", id='reply-container'>
                    <%= auto_link(link.text, :all, :target => "_blank").html_safe %></em>
                          
                       </div>
                      </div> 
                      
                      <div class="row">
                        <div class="col-xs-10"> 
                          
                          <div id="linkauth">
                            posted <b><%= time_ago_in_words(link.created_at) %></b> ago
                              by
                              <%= image_tag link.user.avatar.url(:main), :class => "img-rounded", :size => "25x25" %>
                              <b><%= link.username %></b> <% if link.user.bio? %><em>"<%= link.user.bio %>"</em><% end %> 
                          </div>
                        </div>
                        
                      </div>
                        
                     
                      <div class="col-xs-10">
                    <div class="row">
                     
                       <%= link_to "Debate!", '#', class: 'btn btn-xs btn-primary reply-link', id: 'reply-link' %>
                      (<b><%= link.comments.count %> </b> responses)
                      <%= link_to "Link", [@parent, @group, link], class: 'btn btn-xs btn-info' %>
                      <div class="linkpad">
                      </div>
                  <div class="reply-container", id='reply-container'>
                                <%= form_for([link, Comment.new]) do |f| %> 
                              <div class="field">
                                <%= f.text_area :message, class: "form-control", :placeholder =>"Comment must be at least 5 characters long..." %>
                              </div>
                              <div class="actions">
                                <%= f.submit :class => "btn btn-primary" %>
                              </div>
                                <% end %>
                            
                        
                         <%= render partial: "comments", locals: { link: link, comments: @comments } %> 
</div>
                        </div>
                    </div> 
                    </div>
                      
                      
                    </div>
                  </div>
                </li>   
            </div>
            </ul> 
            <% end %> 
          </div>
          <div class="row">
            <div id="paginate">
            <%= will_paginate @links %> 
            </div>
            <br>
              <div id="footabout">
              
              <%= link_to "Contact", "mailto:democratizellc@gmail.com" %>
              </div>
            <div id="footabout">
            <%= link_to "Advertise!", "/pages/ads" %>
              </div>
            <div id="footcontact">
              <%= link_to "About", "/pages/show" %> 
            </div>
          </div>
        </div>     
      </div> 

      <div class="col-xs-2"> 
        <div id="meetups">

      </div>
        <div id="policy">

     
        </div>
<div id="ads">

          </div>          
    </div>  
 
  
  
    </div>
  </div>   
</body>

</html>