
<head>
  <title>Democratize! News, Politics, Discussion, Events</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles, for each group politics yo!">
</head>
<body>
  <center>
  
   <div id="logo">
  <h2 class="text"><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %></h2>
  </div>
<p><%= image_tag @user.avatar.url(:main), :class => "img-rounded" %></p>
    <b><%= @user.username %></b> 

    <p><em><%= @user.bio %></em></p>
    <div id="usergroups">
  <ul class="nav nav-pills nav-stacked">

                      <li><center><b>My Groups</b></center></a>
                        <% @groups.each do |g| %>
                      <%= link_to g.title, [g], class: "list-group-item" %>
                       <% end %>
              </li>
          </ul>  

</div>
<br>
<p><b>My Posts</b></p>
 <% @links.each do |link| %>

 <p><%= link_to link.title, [link] %></p>
 <% end %>


</center>
</body>