<% comments.sort_by{ |c| c.score }.reverse.each do |comment| %>

<ul> 
     
     
     <div class='message_group'>
<div class="row">
                          <%= link_to comment_votes_path(comment, :vote => {:up => true}), :method => :comment, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-up"></i>
                          <% end %>
  <b><%= comment.user.username %></b>
  <%= comment.score %> points 
          </div> 
     <div class="row">
                          <%= link_to comment_votes_path(comment, :vote => {:up => false}), :method => :comment, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-down"></i>
                          <% end %>

       <%= auto_link(comment.message, :all, :target => "_blank").html_safe %>
      
                        
       </div>
    
                        <%= link_to "Reply", '#', class: 'reply-link', id: 'reply-link' %>
                  <div class="reply-container", id='reply-container'>
                    <%= form_for(Comment.new, url: comment_comments_path(comment), :remote => true) do |f| %> 
              
                  <%= f.text_area :message, :class => "form-control", :placeholder =>"Add a comment" %>
                   <div class="actions">
                      <%= f.submit :class => "btn btn-primary" %>
              </div>
                  <% end %>
                                               
     </div>
<div id="commentcomment">
<%= render partial: "commentscomments", locals: { comments: comment.comments } %>
</div>
</ul>

<% end %>
  
   <div id="commpad"></div>