
<head>
  <title>Democratize! <%= @parent.title %> News, Politics, Discussion, Jobs, Events</title>

   <%= stylesheet_link_tag    "normal/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Democratize! <%= @parent.title %> is a user-generated 'virtual town hall' for local news, politics, events, jobs, and debate.">
  <meta property="og:image" content='http://i59.tinypic.com/2e4ew5d.jpg'/>
</head>

<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 
<div class="padtop">
      <div class="logo">
        
        <i class="fa fa-bullhorn"></i> Democratize! <%= @parent.title %> 
        
    </div>  
    <div class="profnav">   
<% if current_user.present? %>
                <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url(:main), :class => "img-rounded", :size => "25x25" %>                
                <% end %>
                <b><%= current_user.username %></b>
        <div class="btn-group">
  
         
           <span class="caret dropdown-toggle" data-toggle="dropdown"></span>

    <ul class="dropdown-menu">
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
   
    </ul>
  </div>
        <% else %>
                <div class="altnav">
                  <%= link_to 'Sign In', new_user_session_path %> | 
                  <%= link_to 'Register!', new_user_registration_path %>
      </div>
                
                <% end %>



</div>
    </div>
    
  
</nav>
<div class="container">
    <div class="row">  
      <div class="col-xs-9">

        

        <div class="row">
         
              <div id="addlink">
              <p>
                <% if user_signed_in? %>
                <%= event_to_for_parent(@parent) %>
                <% end %>
              </p>
              </div>
      </div>
<div class="row">
<div class="row">
  <% @events.order('date ASC').each do |event| %>

    <ul>                     
            <div id="links">
                <li>
                  
                   <div class="row">
                     
                    <div class="col-xs-10">
                      <div class="row">
                        <div class="linkbodyE">
                          <b><%= event.date.strftime("%m/%d") %>:</b> <%= event.title %><br>
                         
                          
                 
                    <%= auto_link(event.description, :all, :target => "_blank").html_safe %><br>
                    
          <b>at</b> <%= event.location %>
                       
                        
                        </div>
                      </div>
                      
                      <div class="row">
                        <div class="col-xs-10"> 
                          
                         
                        </div>
                       
                        <div class="EvButts">
                     
                      <div class="col-xs-10">
                    <div class="row">
                     
                       <%= link_to "Discuss!", '#', class: 'btn btn-xs btn-primary reply-link', id: 'reply-link' %> (<b><%= event.comments.count %> </b> responses)
                      <b><%= link_to "Link", [@parent, event] %></b>
                      <div class="linkpad">
                      </div>
                  <div class="reply-container", id='reply-container'>
                                <%= form_for([event, Comment.new]) do |f| %> 
                              <div class="field">
                                <%= f.text_area :message, class: "form-control", :placeholder =>"Add a comment" %>
                              </div>
                              <div class="actions">
                                <%= f.submit :class => "btn btn-primary" %>
                              </div>
                                <% end %>
                            
                        
                         <%= render partial: "comments", locals: { event: event, comments: @comments } %> 
                  </div>
                      
                       </div>
                        </div>
                    </div> 
                  
                      
                      
                    </div>
                  </div>
                </li>   
            </div>
            </ul> 
            <% end %> 

          </div>
          <div class="row">
            <div id="paginate">
            <%= will_paginate @events %> 
            </div>
            <br>
            <div id="footabout">
              
              <%= link_to "Contact", "mailto:democratizellc@gmail.com" %>
              </div>
            <div id="footabout">
            <%= link_to "Advertise!", "/pages/ads" %>
              </div>
            <div id="footcontact">
              <%= link_to "About", "/pages/show" %> 
            </div>
          </div>
        </div>     
      </div> 
      
    </div>
  </div>
</div>

</body>




  