<p>
	<%= link_to "Mexico", "/countries/1/links" %>
</p>
<li>
<p>  
<%= link_to "Oklahoma", "/states/1/links" %>
</p>
<ul>
<%= link_to "Tulsa", "/cities/1" %>
	<li><%= link_to "District 1", "/cities/1/districts/1" %>

	</li>
</ul>
</li>

<li>
<p>
<%= link_to "New York", "/states/2/links" %>
</p>

</li>
<p>Reps</p>
<%= link_to "Obama", "/reps/1/links" %>


