<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <title>Democratize! Local News, Politics, Discussion, Events</title>

    <%= stylesheet_link_tag    "normal/application", media: "all", "data-turbolinks-track" => true %>


    <link href="jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "About", "/pages/about" %></li>
          <li><a href="mailto:democratizellc@gmail.com">Contact</a></li>
        </ul>
        <h3 class="text"><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %></h3>
      </div>

      

      
        <div class="col-lg-12">
          <h4>What is Democratize!?</h4>
          <p>Democratize! is a web/mobile app that serves as a town hall for cities. In this "virtual town hall", users share any useful information that is currently affecting their community.
             This can be through an opinion, a piece of relevant news, or even an attempt at creating a grassroots movement. What sets Democratize! apart from other networks is that it is centered on the community at large rather than
            individual. Everything on Democratize! is subect to the democratic process. Democratize! seeks to bridge the gap between the community and their political  representation by connecting them in a new and exciting way.
          </p>
<div class="aboutlinks">
          <h4>How do I use Democratize!?</h4>
          <p>You can view any post in any city/community but to actaully make your voice heard, you have to sign up(which is relatively painless). Once registered you can post and comment on anything.
            Utilizing <%= link_to "reddit", "http://www.reddit.com", target: "_blank" %> voting and commenting features but with a local-centric focus similar to <%= link_to "craigslist", "http://www.craigslist.com", target: "_blank" %>, Democratize! truly is a "virtual town hall".
          </p>

          <h4>When will my community be available on Democratize!?</h4>
          <p>Since Democratize! is in its initial release, it is only available to select group of cities. Below is a list of cities currently available in Democratize! Contact us today to request that your city 
            your city be added. 
          </p>
 
          <ul>
            <b>
            <li><%= link_to "Tulsa", "/cities/1-tulsa" %></li>
            </b>
          </ul>
          </div>
          <br>

      <div class="footer">
        <p>&copy; Democratize! 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>