




<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <br>
      <div id="sidebar"
        <ul>
           <li>City Info...</li>
           <li>My Groups...</li>
           <li>My Reps...</li>
           <li>Ads...</li>
          
          

        </ul>
      </div>
    </div>
    <div class="span10">
      <div id="addlink">
      <p>
  <% if user_signed_in? %>
    <%= link_to_for_parent(@parent) %>
  <% end %>
</p>
</div>

|hot| |new|
  <% @links.each do |link| %>

  
<div class="row">
  <div id="links">
    <ul>

  <li>

   <%= link.score %>

<%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :link %>

  <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :link %>


    

   
   <%= link_to link.title %>
   <p>
   <%= link.text %>
 </p>  
    by
  <%= link_to link.username, link.user %>
  
    </li>
    </ul>

    </div>
  </div>
    <% end %>
    </div>
  </div>
</div>
  