<head>
  <title>Democratize! Local News, Politics, Discussion, Events</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles, for each group politics yo!">
</head>
<body>
 <div class="bod">
    <div class="row">  
      <div class="col-xs-2">
        <div id="logo">
         <i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %>
        </div>

        <div id="sidebar">
             
              <div id="sideprof">
                <%# user is logged in, show log out link %>
                <% if current_user.present? %>
                
                <%= image_tag current_user.avatar.url(:main), :class => "img-rounded", :size => "100x100" %><br>
                  <%= link_to current_user.username, current_user %><br>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
                  
                  <%# user is not logged in, show signup and login links %>
                <% else %>
                
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                
                <% end %>
                
              </div>
 <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          Choose Location
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><%= link_to "Tulsa", "/cities/1" %></a></li>
                        </ul>
                        </div>            
        </div>
      </div>
  <div class="row"> 
    <div class="col-xs-8">
    <div id="linktitle">
      <%= @link.title %>
    </div>
      <div id="linktext">
    <%= auto_link(@link.text).html_safe %>
      </div>
 <div class="textaux">
  <div class="row">
        <div class="col-xs-6">
    <div id="linkauth">
      posted <%= time_ago_in_words(@link.created_at) %> ago              
      <br>
        by
        <%= image_tag @link.user.avatar.url(:main), :class => "img-rounded", :size => "25x25" %>
                              <%= link_to @link.username, @link.user %>
    </div>
   </div>
          
    </div>
</div>
    <div id="linkcomment">
        <%= form_for([@link, Comment.new]) do |f| %> 
      
          <div class="field">
            
            <%= f.text_area :message, :class => "form-control", :placeholder =>"Add a comment" %>
          </div>
            <div class="actions">
              <%= f.submit :class => "btn btn-primary" %>
            </div>
        <% end %>
    </div>
 
  
    <%= render partial: "comments", locals: { comments: @comments } %> 
        
  </div> 
</div>
</div>
</body>