<!DOCTYPE html>
<html>
<head>
  <title>Democratize! News, Politics, Discussion, Events</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Democratize! is a site for user-generated local news, politics, and opinion sharing.">
</head>
<body>
<div class="bodymob">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<div class="btn-group">
<button type="button" class="btn btn-default btn-lg navbar-btn navbar-left dropdown-toggle" data-toggle="dropdown">
    Menu <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><% if current_user.present? %>
                
                  <%= link_to current_user.username, current_user %>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>

                <% else %>
                
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                
                <% end %></li>


  </ul>
</div>


    <p class="navbar-text"><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %></p>

      
  </div>    
  </nav>
  <center>
 <div id="commpad"></div>
  <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          Change Location
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><b><%= link_to "Oklahoma", "/states/2" %></a></b></li>
                          <li><%= link_to "Oklahoma City", "/cities/2-oklahomacity" %></a></li>
                          <li><%= link_to "Tulsa", "/cities/1-tulsa" %></a></li>
                        </ul>
                        </div>
 <div id="commpad"></div>
</center>
<div class="container">
<div id="linktitleS">
      <%= @link.title %>
    </div>
        <div id="linktext">
    <%= auto_link(@link.text, :all, :target => "_blank").html_safe %>
      </div>
        <div class="textaux">
  <div class="row">
        <div class="col-xs-12">
    <div id="linkauth">
      posted <%= time_ago_in_words(@link.created_at)  %> ago              
     
        by
        <%= image_tag @link.user.avatar.url(:main), :class => "img-rounded", :size => "25x25" %>
                              <%= link_to @link.username, @link.user %>
    </div>
   </div>
          
    </div>
</div>

      
 
    <div id="linkcomment">
        <%= form_for([@link, Comment.new]) do |f| %> 
      
          <div class="field">
            
            <%= f.text_area :message, :class => "form-control", :placeholder =>"Comments must be at least 5 characters long..." %>
          </div>
            <div class="actions">
              <%= f.submit :class => "btn btn-primary" %>
            </div>
        <% end %>
    </div>
 
  
    <%= render partial: "comments", locals: { comments: @comments } %> 
        
  </div> 
</div>