<head>
  <title>Democratize! Local News, Politics, Discussion, Events</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles, for each group politics yo!">
</head>
<body>
 <div class="bod">
    <div class="row">  
      <div class="col-xs-2">
        <div id="logo">
          <center><i class="fa fa-bullhorn"></i> <%= link_to "Democratize!", root_path %>
            <br><em><div id="tag">"a virtual town hall"</div></em></center>
        </div>

        <div id="sidebar">
             
              <div id="sideprof">
                <%# user is logged in, show log out link %>
                <br><% if current_user.present? %>
                
                <%= image_tag current_user.avatar.url(:main), :class => "img-rounded", :size => "100x100" %><br>
                  <%= link_to current_user.username, current_user %><br>
                  <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
                  
                  <%# user is not logged in, show signup and login links %>
                <% else %>
                
                  <li><%= link_to 'Sign In', new_user_session_path %></li>
                  <li><%= link_to 'Register Now!', new_user_registration_path %></li>
                
                <% end %>
                
              </div>
 <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                          Choose Location
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><b><%= link_to "Oklahoma", "/states/2" %></a></b></li>
                          <li><%= link_to "Oklahoma City", "/cities/2-oklahomacity" %></a></li>
                          <li><%= link_to "Tulsa", "/cities/1-tulsa" %></a></li>
                        </ul>
                        </div>
<br><br>
<b>Back to <%= link_to @parent.title, [@parent] %></b>
        </div>
      </div>
  <div class="row"> 
    <div class="col-xs-8">
      <div class="col-votes">
                      <div class="votes">
                        <div id="votesup">
                          <% if current_user && current_user.votes.where(:votable_id => @link.id, :up => true).present? %>
                          <div class="glyphup">
                          <span class="glyphicon glyphicon-chevron-up"></span>
                          </div>
                            <% else %>
                          <%= link_to link_votes_path(@link, :vote => {:up => true}), :method => :link, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-up"></span>
                          <% end %>
                          <% end %>
                        </div>
                        <div id="votesS">
                          <%= @link.score %> 
                        </div>
                        <div id="votesdown">  
                            <% if current_user && current_user.votes.where(:votable_id => @link.id, :up => false).present? %>
                                <div class="glyphdown">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>  
                            <% else %>
                          <%= link_to link_votes_path(@link, :vote => {:up => false}), :method => :link, class: "btn btn-small" do %>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          <% end %>
                          <% end %>
                        </div>  
                      </div>
                    </div> 
      <div class="col-bod">
        
    <div id="linktitleS">
      <%= @link.title %>
    </div>
        <div id="linktext">
    <%= auto_link(@link.text, :all, :target => "_blank").html_safe %>
      </div>
        <div class="textaux">
  <div class="row">
        <div class="col-xs-12">
    <div id="linkauth">
      posted <%= time_ago_in_words(@link.created_at)  %> ago              
     
        by
        <%= image_tag @link.user.avatar.url(:main), :class => "img-rounded", :size => "25x25" %>
                             <b><%= @link.username %></b> <% if @link.user.bio? %><em>"<%= @link.user.bio %>"</em><% end %>
    </div>
   </div>
          
    </div>
</div>
      </div>
      
 
    <div id="linkcomment">
        <%= form_for([@link, Comment.new]) do |f| %> 
      
          <div class="field">
            
            <%= f.text_area :message, :class => "form-control", :placeholder =>"Add a comment" %>
          </div>
            <div class="actions">
              <%= f.submit :class => "btn btn-primary" %>
            </div>
        <% end %>
    </div>
 
  
    <%= render partial: "comments", locals: { comments: @comments } %> 
        
  </div> 
</div>
</div>
</body>