<% link.comments.sort_by{ |c| c.score }.reverse.each do |comment| %>

 <ul><%= comment.score %>
        
  <%= link_to "+", comment_votes_path(comment, :vote => {:up => true}), :method => :comment %>

  <%= link_to "-", comment_votes_path(comment, :vote => {:comment_id => comment.id, :up => false}), :method => :comment %>
        <%= comment.message %> Posted by <%= comment.user.email %>
<%= form_for(Comment.new, url: comment_comments_path(comment)) do |f| %> 

    <%= f.text_area :message, :placeholder =>"Add a comment" %>
     
        <%= f.submit %>

    <% end %>
<div id="commentcomment">
<%= render partial: "commentscomments", locals: { comments: comment.comments } %>
</div>
</ul>

<% end %>