
<head>
  <title>Democratize! <%= @city.title %> News, Politics, Discussion, Jobs, Events</title>

   <%= stylesheet_link_tag    "normal/application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Democratize! <%= @city.title %> is a user-generated 'virtual town hall' for local news, politics, events, jobs, and debate.">
  <meta property="og:image" content='http://i59.tinypic.com/2e4ew5d.jpg'/>
</head>

<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
 
<div class="padtop">
      <div class="logo">
       <%= link_to city_path do %>
        <i class="fa fa-bullhorn"></i> Democratize! <%= @city.title %> 
        <% end %>
    </div>  
    <div class="profnav">   
<% if current_user.present? %>
              
                <b><%= current_user.username %></b>
        <div class="btn-group">
  
         
           <span class="caret dropdown-toggle" data-toggle="dropdown"></span>

    <ul class="dropdown-menu">
      <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
   
    </ul>
  </div>
        <% else %>
                <div class="altnav">
                  <%= link_to 'Sign In', new_user_session_path %> | 
                  <%= link_to 'Register!', new_user_registration_path %>
      </div>
                
                <% end %>



</div>
    </div>
    
  
</nav>
<div class="container">
    <div class="row">  
      <div class="col-xs-9">

        <div class="row">
            <div id="filters">
                <b><%= link_to "hot", city_path(@city, sort_by: "hot") %>
                |
                  <%= link_to "new", city_path(@city, sort_by: "new") %></b>
              <div id="addlink">
                    <p>
                      <% if user_signed_in? %>
                     <%= link_to "Post", new_city_link_path(params[:id]), :class => "btn btn-xs btn-info" %>
                    
                      <% end %>
                    </p>
              </div>
            </div> 
        </div>
        
          
          <div class="row">
            <% @links.each do |link| %> 
            <ul>                     
            <div id="links">
                <li>
                  <div class="row">
                    <div class="col-xs-1">
                      <div class="votes">
                        <div id="votesup">
                               <% if current_user.present? %>
       <% if current_user.id == 23 %>
                          <%= link_to link_votes_path(link, :vote => {:up => true}), :method => :link, class: "btn btn-small" do %>
                            
                       <span class="glyphicon glyphicon-chevron-up"></span>
                          <% end %>
                          <% end %>
                          <% end %>
                          <% if current_user && current_user.votes.where(:votable_id => link.id, :up => true).present? %>
                          <div id="glyphupP">
                          <span class="glyphicon glyphicon-chevron-up"></span>
                          </div>
                            <% else %>
                          <div class="trigger">
                          <%= link_to link_votes_path(link, :vote => {:up => true}), :remote => true, :method => :post, class: "btn btn-small" do %>
                        
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        
                          <% end %>
                            </div>
                          <% end %>
                        </div>
                         
                        <div id="votesS">
                          <%= link.score %> 
                        </div>
                         <div id="votesdown">
                            <% if current_user && current_user.votes.where(:votable_id => link.id, :up => false).present? %>
                                <div class="glyphdown">
                                  <span class="glyphicon glyphicon-chevron-down"></span>
                                </div>  
                            <% else %>
                          <div class="trigger-">
                            <%= link_to link_votes_path(link, :vote => {:up => false}), :remote => true, :method => :post, class: "btn btn-small" do %>
                         
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            
                          <% end %>
                            </div>
                          <% end %>
                        </div>  
                      </div>
                    </div>  
                    <div class="col-xs-10">
                      <div class="row">
                        <div class="linkbody">
                            <%= link.title %></div> 
                        <div class="linkdesc">
                    <%= auto_link(link.text, :all, :target => "_blank").html_safe %>
                          
</div>       
                     
                                           
                      <div class="row">
                        <div class="col-xs-10">
                          <div id="linkauth">
                            posted <b><%= time_ago_in_words(link.created_at) %></b> ago
                              by
                           
                             
                            <b><%= link.username %></b> <% if link.user.bio? %><em><%= link.user.bio %></em><% end %>                           
</div>
                        </div>
                      </div>
                      
                      
                        <div class="col-xs-10"> 
                          <div class="row">
                     
                       <%= link_to "Debate!", '#', class: 'btn btn-xs btn-primary reply-link', id: 'reply-link' %>
                          <% if link.comments.count == 1 %>
                      (<b><%= link.comments.count %> </b> response)
                            <% else %>
                            (<b><%= link.comments.count %> </b> responses)
                            <% end %>
                          
                            <b><%= link_to "Link", [@city, link] %></b>
                      <div class="linkpad">
                      </div>
                  <div class="reply-container", id='reply-container'>
                                <%= form_for([link, Comment.new], :remote => true) do |f| %> 
                              <div class="field">
                                <%= f.text_area :message, class: "form-control", :placeholder =>"Comments must be at least 5 characters long..." %>
                              </div>
                              <div class="actions">
                                <%= f.submit :class => "btn btn-primary" %>
                              </div>
                                <% end %>
                            
                        
                         <%= render partial: "comments", locals: { link: link, comments: @comments } %> 
                  </div>
                        </div>
                    </div> 
                    </div>
                      
                      
                 
                 
                </li>   
            </div>
            </ul> 
            <% end %> 
          </div>
          <div class="row">
            <div id="paginate">
            <%= will_paginate @links, renderer: BootstrapPagination::Rails %>
            </div>
            <br>
            <div id="footabout">
              
              <%= link_to "Contact", "mailto:democratizellc@gmail.com" %>
              </div>
            <div id="footabout">
            <%= link_to "Advertise!", "/pages/ads" %>
              </div>
             <div id="footabout">
            <%= link_to "Privacy", "/pages/privacy" %>
              </div>
            <div id="footabout">
            <%= link_to "Sitemap", "/pages/sitemap" %>
              </div>
            <div id="footcontact">
              <%= link_to "About", "/pages/show" %> 
              
            </div>
          </div>
        
</div>
       
       <div class="col-xs-3"> 
        <div class="container">   
                 
                   <ul class="nav nav-pills nav-stacked">
                      <br>  
                    
                      <li>
                    <h2><%= @city.title %> Representatives</h2>
                        <% @districts.each do |district| %>
                        <%= link_to district.title, [@city, district], class: "list-group-item text-center" %>
                      <% end %>
                   
                    
                      </li><br>
                     
                           <li>
                    <h2><%= @city.title %> Events</h2>
                             <% @events.each do |event| %>
                             <%= link_to event.title, [@city, event], class: "list-group-item text-center" %>
                      <% end %>
                   
                    
                      </li><br>
                     
                                <li>
                    <h2><%= @city.title %> Groups</h2>
                    <% @groups.each do |group| %>
                        <%= link_to group.title, [@city, group], class: "list-group-item text-center" %>
                      <% end %>
                   
                    
                      </li>
                    </ul>
                   
             
                  <% if @city.resources.present? %>
                  <br>
                  <h2><%= @city.title %> News Sources</h2>
                      <% @resources.each do |resource| %>
                    <%= link_to resource.title, "http://#{resource.url}", target: '_blank' %>
                      <% end %>
                  <% end %>
                        
      </div>
<br>
  
        
<br>
      <div id="policy">

          <h2>Policy</h2>
          <p><i>All posts must be civil. Anything hateful, sexist, racist, abusive, threatening, etc. will be removed.</i></p>
        </div>
</div>

        </div>
</div>

</body>




  