<!DOCTYPE html>
<html>
<head>
  <title>Democratize</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles for each group politics yo!">

</head>
<body>

 <div class="row">
  
     <div id="headerL">

Democratize

</div>

<div id="headerR">


<p>

<%= link_to "|Choose location|", root_path %>
</p>
</div>

</div>
  

<%= yield %>

</body>
</html>
