<!DOCTYPE html>
<html lang="en">
<head>
  <title>Democratize</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles for each group politics yo!">

</head>
<body>
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <p class="navbar-text navbar-left">Democratize</p>

        <div class="btn-group navbar-right">
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#"><%= link_to "Tulsa", "/cities/1" %></a></li>
      <li><a href="#"><%= link_to "Tulsa", "/cities/1" %></a></li>
    </ul>
  </div>
                


  </div>
</nav>



<div id="container">
<%= yield %>
</div>



</body>
<footer>
  
About | Contact Us | Get Involved!
  
</footer>

</html>
