<!DOCTYPE html>
<html>
<head>
  <title>Democratize</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="dynamic titles for each group politics yo!">

</head>
<body>

 <div class="row">
  
     <div id="header">

<h1>Democratize</h1>
<p>

<%= link_to "|Choose location|", root_path %>
</p>
</div>

  
  
<div id="profile">
  <%# user is logged in, show log out link %>
  <% if current_user.present? %>
    <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
  <%# user is not logged in, show signup and login links %>
  <% else %>
    <%= link_to 'Sign In', new_user_session_path %> |
    <%= link_to 'Register Now!', new_user_registration_path %>
  <% end %>
  <p>
  <% if user_signed_in? %>
<%= link_to current_user.username, current_user %>

<% end %>
</p>
  

  </div>
</div>



<% if alert %>
  <p class="alert-message warning"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
